# IDE/System files
*.iml
.DS_Store

# Gradle Artifacts
.they are building
/build
/captures
*.log
*.apk
.build/

# Android Studio (IDE) files
/local.properties
# Ignoring the entire .idea directory (better than individual items)
.idea/

# Optional: If you want to keep modules.xml for easy collaboration:
# /!.idea/modules.xml

# NDK/C++ Build files
.externalNativeBuild
.cxx

# Sensitive data (Keystore, Secrets and Configurations)
*.keystore
*.jks
keystore/
google-services.json # Usually contains Firebase keys
secrets.properties # Common practice for saving passwords
signing.properties # The file we will use to sign the build